<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Mi App</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios" [routerLinkActive]="'active'">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/posts" [routerLinkActive]="'active'">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacto" [routerLinkActive]="'active'">Contacto</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{outlets: {popup: ['panico']}}]">Pánico</a>
      </li>
      <li class="nav-item">
        <a href="" routerLink="/login" class="nav-link" *ngIf="!usuarioLogueado">Login</a>
        <a (click)="logout()" class="nav-link" style="cursor: pointer;" *ngIf="usuarioLogueado">Logout</a>
      </li>

    </ul>
  </div>
</nav>